:root {
  --box-size: 450px;
  --block-size: 150px;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(5, 0, 39);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  grid-template-rows: 1fr;
}

.grid-left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-right {
  grid-column: 3;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-btn {
  color: rgb(5, 0, 39);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 20px;
  position: relative;
  border: none;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  margin: 10px;
}

.counter-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;

}

button:hover {
  box-shadow: none;
}

.main-btn:hover::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(#ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
  width: 105%;
  height: 105%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 24px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.main-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#move-counter, #astar-steps{
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}

#puzzle-container {
  width: 100%;
  max-width: var(--box-size); /* atau ukuran maksimum yang Anda inginkan */
  aspect-ratio: 1 / 1; /* Memastikan container selalu persegi */
  position: relative;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 0;
}

#puzzle-container::before {
  position: absolute;
  content: "";
  background-image: conic-gradient(#ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.7);
  height: 115%;
  width: 105%;
  padding: 10px;
  top: 55%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 16px;
}

.puzzle-item {
  position: absolute;
  width: 33.33%; /* Untuk puzzle 3x3 */
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; /* Ukuran font responsif */
  box-sizing: border-box;
  z-index: 1;
  background-color: transparent;
}

.puzzle-numbers {
  font-size: 3em;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
}

.puzzle-item.clicked {
  transform: scale(0.95);
  transition: transform 0.1s;
}


.puzzle-item::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  background-color: rgba(55, 0, 255, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
  border-radius: 4px;
}

/* POP UP SOLVED */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  :root {
    --box-size: 300px;
    --block-size: 100px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin: 0;
  }

  .grid-left {
    grid-row: 2;
    grid-column: 1;
  }

  .main-container {
    grid-row: 1;
    grid-column: 1;
    min-height: min-content;
    margin-top: 24px;
  }

  .counter-status {
    gap: 2rem;
  }

  #move-counter, #astar-steps {
    margin-top: 5px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }

  .grid-right {
    grid-row: 3;
    grid-column: 1;
  }

  .main-btn {
    width: 60%;
  }

  #puzzle-container {
    width: var(--box-size);
    height: var(--box-size);
  }

  .puzzle-item {
    width: var(--block-size);
    height: var(--block-size);
  }
}
