#puzzle-container {
  width: 600px;
  height: 600px;
  background-color: bisque;
  border-radius: 2px;
  position: relative;
}

.puzzle-item {
  width: 195px;
  height: 195px;
  border: 2px solid;
  position: absolute;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #ddd;
}
